<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit article</title>
</head>
<body>
    <form action="{{ url_for('edit_article', id=id) }}" method="post">
        <input type="text" name="new_title" value="{{ article.title }}"><p></p>
        <textarea name="new_content" id="" cols="30" rows="10">{{ article.content }}</textarea><p></p>
        <input type="submit" value="+">
    </form>
</body>
</html>
