<!DOCTYPE html>
<html>
    <head>
        <title>articles</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        {% block content %}
        {% include('header.html') %}
        <div id="container">
            {% for article in articles %}
            <div class="article-card">
                <a href="/article/{{ article.id }}">{{ article.title }}</a> <i>({{ article.hr_publish_date() }})</i> - {{ article.content[:30] }}...
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>
