<!DOCTYPE html>
<html>
    <head>
        <title>Remove bookmark</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
		{% import "macro.html" as macro %}
        {% block content %}
        {% include('header.html') %}
        <div id="container">
			<h1>Bookmark removed</h1>
			<p>Article <i>{{ article.title }}</i> removed from bookmarks</p>
			<a href="{{ url_for('view_article', id=article.id) }}">Back</a>
        </div>
        {% endblock %}
    </body>
</html>
