<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    {% include 'header.html' %}
    {% block content %}
    <div id="container">
        <form action="{{ url_for('login') }}" method="post">
            <h1>Log in</h1>
            <input type="text" name="username" placeholder="username"><p></p>
            <input type="password" name="password" placeholder="password"><p></p>
            <input type="submit" value="Log in">
        </form>
    </div>
    {% endblock %}
</body>
</html>
